# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Environment
.env
.venv/
venv/


# Django
*.log
*.pot
*.pyc
*.db
db.sqlite3
media/
media/resumes/
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/



# OS files
.DS_Store
Thumbs.db
